header{
    display: flex;
}
.name {
flex-direction: column;
font-size: 30px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: solid 3px yellow;
background-color: yellow;
width: 100%;
}
.header1{
    font-size: 40px;
}
.myphoto{
}
body{
    margin: 0;
    margin-left: 180px;
    margin-right: 200px;
}
main{
    display: flex;
}
aside {
    width: 70%;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav { 
    width: 40%;
    background-color: yellow;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
}
.nickname{
    border:solid 5px black;
    margin-left: 200px;
}
article{
    display: flex;
    width: 100%;
    background-color: rgb(255, 31, 1);
    font-family: monospace;
    font-size: 20px;
    color: blanchedalmond;
    border: solid 3px yellow;
}
.inst {
    width: 33%;
}
.telegram{
    margin-left: 50px;
}
.phone{
    margin-left: auto;
}